pkgbase = 2048-cli-git
	pkgdesc = The game 2048 for your Linux terminal
	pkgver = 20160528
	pkgrel = 1
	url = https://github.com/tiehuis/2048-cli
	arch = x86_64
	arch = i686
	license = MIT
	depends = ncurses
	depends = sdl
	provides = 2048-cli
	source = git+https://github.com/tiehuis/2048-cli.git
	md5sums = SKIP

pkgname = 2048-cli-git

